{{!-- LINK TO HOME --}}
<a href="/">Back to Home</a>

{{!-- H1 --}}
<h1>
    {{review.title}}
</h1>

{{!-- H2 --}}
<h2>
    {{review.movieTitle}}
</h2>

{{!-- P --}}
<p>
    {{review.description}}
</p>

{{!-- REVIEW EDIT --}}
<p>
    <a href="/reviews.{{review._id}}/edit">Edit</a>
</p>

{{!-- DELETE BUTTON --}}
<p>
    <form method="POST" action="/reviews.js/{{review._id}}?_method=DELETE">
        <button type="submit">Delete</button>
    </form>
</p>